body {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.estado2 {
    text-align: right;
    color: darkred;
}

.estado1 {
    text-align: right;
    color: darkgreen;
}
.oauth_url {
    font-size: x-small;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
}